<html>
    <head>
        <h1><%= title %></h1>
        <%if (message === 'ok') {%>
            Cuenta: <%= nombre %><br>
            Alias: <%= alias %><br>
            CBU: <%= cbu %><br>
        <%}%>
    </head>
    <style>
        .container {
            display: flex;
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        }
        table {
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
            border-collapse: collapse; /* Combina los bordes de las celdas */
        }
    </style>
    <body>
        <%if (message === 'ok') {%>
            <table>
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Fecha/Hora</th>
                        <th>Monto</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <% datos.forEach(function(dato) { %>
                        <tr>
                            <td><%= dato.usuario %></td>
                            <td><%= dato.fecha_hora_descarga %></td>
                            <td><%= dato.cargas_monto %></td>
                            <td><%= dato.cargas_cantidad %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <%} else {%>
            <h3><%= message %></h3>
        <%} %>
        <button onclick="cerrarModal();">Finalizar</button>
    </body>
</html>