<html>
<head>
    <h2><%= title %></h2> 
</head>
<body>
<!----------------------INICIO FILTER & SEARCH----------------------->
    <div class="wrapper">
        <div class="search-container">
            <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
            <span class="material-symbols-outlined">search</span>

            <button onclick="abrirModal(18);" class="help">
                <span class="material-symbols-outlined">help_center</span>
            </button>

        </div>
    </div>
    <table id="miTabla">
        <thead>
            <tr>
                <th>Oficina</th>
                <th>Plataforma</th>
                <th>Agente</th>
                <th>Fecha/Hora</th>
                <th>Usuario</th>
                <th>Operación</th>
                <th>Accion</th>
                <th>Estado</th>
                <th>Monto</th>
                <th>Procesado</th>
            </tr>
        </thead>
        <tbody>	
            <% datos.forEach(function(dato) { %>
                <tr>
                    <td><%= dato.oficina %></td>
                    <td><%= dato.plataforma %></td>
                    <td><%= dato.agente_usuario %></td>
                    <td><%= dato.fecha_hora_operacion %></td>
                    <td><%= dato.cliente_usuario %></td>
                    <td><%= dato.codigo_operacion %></td>
                    <td><%= dato.accion %></td>
                    <td><%= dato.estado %></td>
                    <% if (dato.id_accion == 1) { %>
                        <td><%= parseInt(dato.carga_importe,10) + parseInt(dato.carga_bono, 10) %><br>(CARGA : <%= dato.carga_importe %> - BONO : <%= dato.carga_bono %>)</td>
                    <% } else if (dato.id_accion == 2) { %>
                        <td><%= dato.retiro_importe %></td>
                    <% } else if (dato.id_accion == 5) { %>
                        <td><%= parseInt(dato.carga_importe,10) + parseInt(dato.carga_bono, 10) %><br>(CARGA : <%= dato.carga_importe %> - BONO : <%= dato.carga_bono %>)
                            <br><a onclick="abrirModal(29, <%=dato.id_operacion %>);"><h6 class="warning">(Ver Detalle)</h6></a>
                        </td>
                    <% } else if (dato.id_accion == 6) { %>
                        <td><%= dato.retiro_importe %>
                            <br><a onclick="abrirModal(29, <%=dato.id_operacion %>);"><h6 class="warning">(Ver Detalle)</h6></a>
                        </td>
                    <% } else { %>
                        <td>-</td>
                    <% } %>
                    <% if (dato.id_estado == 1) { %>
                        <td><button onclick="abrirModal(3, <%=dato.id_operacion %>, <%=dato.id_accion %>, <%=id_oficina%>);">VERIFICAR</button></td>
                    <% } else { %>
                        <td><%= dato.fecha_hora_proceso %></td>
                    <% } %>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div id="paginacion" class="pagenumbers"></div>
</body>
</html>