<html>
<head>
    <h2><%= title %></h2> 
</head>
<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    img {
      display: block; /* Para evitar problemas de alineación vertical */
      margin: auto; /* Centrar horizontalmente la imagen */
    }
</style>
<body>
<!----------------------INICIO FILTER & SEARCH----------------------->
    <% if (id_rol == 1) {%>
        <p class="warning">* Conexiones Activas: <%= conexiones %></p>
    <%} %>
    <div class="wrapper">
        <div class="search-container">
            <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
            <span class="material-symbols-outlined">search</span>
        </div>
    </div>
    <table id="miTabla">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Oficina</th>
                <th>Agente</th>
                <th>Plataforma</th>
                <th>Tipo</th>
                <th>Cargas ($)</th>
                <th>Bonos</th>
                <th>#Cargas</th>
                <th>Retiros ($)</th>
                <th>#Retiros</th>
            </tr>
        </thead>
        <tbody>	
            <% datos.forEach(function(dato) { %>
                <tr>
                    <td><%= dato.fecha %></td>
                    <td><%= dato.oficina %></td>
                    <td><%= dato.agente_usuario %></td>
                    <td><%= dato.plataforma %></td>
                    <td><%= dato.tipo %></td>
                    <td><%= dato.cargas %></td>
                    <td><%= dato.bonos %></td>
                    <td><%= dato.cant_cargas %></td>
                    <td><%= dato.retiros %></td>
                    <td><%= dato.cant_retiros %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div id="paginacion" class="pagenumbers"></div>
</body>
</html>