<html> 
    <head>
        <style>
            .container {
                display: flex;
                width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
            }
            table {
                width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
                border-collapse: collapse; /* Combina los bordes de las celdas */
            }
        </style>
    </head>
<body>
    <%if (message === 'ok') {%>
        <br>
        <table>
            <tr>
                <th>
                    <label>Oficina: <%= datos.oficina %></label>
                </th>
                <th>
                    <label>Agente: <%= datos.agente_usuario %></label>
                </th>
            </tr>
            <tr>
                <th>
                    <label>Plataforma: <%= datos.plataforma %></label>
                </th>
                <th>
                    <label>URL: <%= datos.url_juegos %></label>
                </th>
            </tr>
            <tr>
                <th>
                    <label>ID: <%= datos.id_registro_token %></label>
                </th>
                <th>
                    <label>Token: <%= datos.id_token %></label>
                </th>
            </tr>
            <tr>       
                <th> 
                    <label for="activo">Estado:</label>
                    <% if (datos.activo == false) { %>
                        <select id="activo">
                            <option value="false" selected>Inactivo</option>
                            <option value="true">Activo</option>
                        </select>
                    <% } else { %>
                        <select id="activo">
                            <option value="false">Inactivo</option>
                            <option value="true" selected>Activo</option>
                        </select>
                    <% } %>
                </th>
                <th>
                    <label for="observaciones">Observaciones:</label>
                    <input type="text" id="observaciones" maxlength="200" value="<%= datos.observaciones %>">
                </th>
            </tr>
            <tr>
                <th colspan="2"> 
                    <label for="bonoPrimeraCarga">Tokens Referidos - Bono de Primera Carga (%):</label>
                    <input type="number" id="bonoPrimeraCarga" min="0" max="100" required value="<%= datos.bono_carga_1 %>">
                </th>
            </tr>
        </table>
        <button onclick="modificar_Token(<%= datos.id_registro_token %>);">Guardar Cambios</button>
        <div id="msgResultado"></div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <button onclick="cerrarModal();">Finalizar</button>
</body>
</html>