<body>
    <%if (message === 'ok') {%>
        <h3><%= title %></h3>
        <%if (en_sesion) {%>
            <h6 class="success">Está en Línea</h6>
        <% } else {%>
            <h6 class="warning">No está en Línea</h6>
        <% } %>
        <div id="chat-window">
            <div id="chat-messages">
                <% datos.forEach(linea => { %>
                    <%if (!linea.misma_fecha) {%>
                        <div class="date-divider"><%= linea.fecha_mensaje %></div>
                    <% } %>
                    <%if (linea.enviado_cliente) {%>
                        <div class="message other">
                            <div class="message-content"><%= linea.mensaje %></div>
                            <div class="message-time"><%= linea.horario_mensaje %></div>
                        </div>
                    <% } else {%>
                        <div class="message self">
                            <div class="message-content"><%= linea.mensaje %></div>
                            <div class="message-time"><%= linea.horario_mensaje %></div>
                        </div>
                    <% } %>
                <% }); %>
            </div>
            <div>
                <textarea id="message-input" placeholder="Tu mensaje aquí..." rows="2" cols="70" maxlength="200"></textarea>
            </div>
            <div id="input-area">
                <select id="emoticones" onchange="insertarEmoticon()">
                    <option value="sel">Emojis</option>
                    <option value="😊">😊</option>
                    <option value="😄">😄</option>
                    <option value="😛">😛</option>
                    <!-- Agrega más emoticones según tus necesidades -->
                </select>                
                <button id="attach-button" onclick="document.getElementById('file-input').click();">Adjuntar</button>
                <button id="send-button" onclick="cargarContenidoChats(<%=id_cliente%>, document.getElementById('message-input').value, false);">Enviar</button>
                <input type="file" id="file-input" style="display: none;">
            </div>
        </div>
    <%} else {%>
        <h3><%= title %></h3>
    <%} %>
    <button onclick="cerrarModal();">Finalizar</button>