<%if (message === 'ok') {%>
    <% datos.forEach(linea => { %>
        <%if (!linea.misma_fecha) {%>
            <div class="date-divider"><%= linea.fecha_mensaje %></div>
        <% } %>
        <%if (linea.enviado_cliente) {%>
            <div class="message other">
                <%if (linea.mensaje == '') {%>
                    <div class="message-content">
                        <a href="/descargar/<%=linea.nombre_guardado%>" 
                            download="<%=linea.nombre_original%>">
                            <%= linea.nombre_original %>
                        </a>
                    </div>
                <% } else {%>
                    <div class="message-content"><%= linea.mensaje %></div>
                <% } %>
                <div class="message-time"><%= linea.horario_mensaje %></div>
            </div>
        <% } else {%>
            <div class="message self">
                <%if (linea.mensaje == '') {%>
                    <div class="message-content">
                        <a href="/descargar/<%=linea.nombre_guardado%>" 
                            download="<%=linea.nombre_original%>">
                            <%= linea.nombre_original %>
                        </a>
                    </div>
                <% } else {%>
                    <div class="message-content"><%= linea.mensaje %></div>
                <% } %>
                <div class="message-time"><%= linea.horario_mensaje %></div>
            </div>
        <% } %>
    <% }); %>
<%} %>